:root {
  --bg: #1a120b;
  --primary: #d5cea3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

/* Navbar Section */
.navbar {
  background-color: rgba(1, 1, 1, 0.8);
}

.navbar .navbar-logo {
  color: var(--primary);
  display: inline-block;
  padding: 1rem 0 1rem 7rem;
  font-weight: 800;
  font-size: 2rem;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .hero-text {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1rem 7%;
}

.hero .hero-text h1 {
  color: var(--bg);
  font-weight: 700;
  font-size: 5rem;
  padding: 0 30rem 0 0;
  line-height: 1.5;
}

.hero .hero-text p {
  color: var(--bg);
  font-weight: 400;
  font-size: 1.38rem;
  line-height: 2;
  padding: 0 15rem 0 0;
}

/* Header Text Price */
.price {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.price .price-text {
  display: flex;
  color: var(--primary);
  align-items: center;
  justify-content: center;
  padding: 0 7%;
}

.price .price-text h1 {
  font-weight: 700;
  font-size: 5rem;
  text-align: left;
  line-height: 1.5;
  padding: 1rem 4rem;
}

.price .price-text p {
  font-weight: 400;
  margin: 2rem 4rem 2rem 4rem;
  font-size: 1.38rem;
  line-height: 2;
  text-align: justify;
}

/* Gallery Styles */
.gallery {
  background-color: #010101;
  color: var(--primary);
  padding: 2rem 10%;
}

.gallery .text-gallery {
  padding: 2rem 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.gallery .text-gallery h2 {
  margin: 0.6rem 15rem;
  line-height: 1.5;
  font-weight: 700;
  font-size: 2rem;
}

.gallery .row {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  flex-wrap: wrap; /* Mengatur elemen-elemen untuk meluncur ke bawah jika tidak cukup ruang */
}

.gallery .row .gallery-card {
  text-align: center;
  padding: 1rem; /* Tambahkan padding di sini */
}

.gallery .row .gallery-card img {
  width: 90%;
  padding-bottom: 1rem;
  margin: 0 auto;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem 0.5rem;
}

.gallery .pengumpul-1 {
  display: block;
}

/* Paket Section */
.paket {
  min-height: 50vh;
  background-color: var(--primary);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paket .paket-pelajar1,
.paket-pelajar2,
.paket-pelajar3 {
  display: inline-block;
  background-color: #aca788;
  padding: 2rem;
  border-radius: 10px;
  margin: 0 2rem;
}

.paket .icon {
  margin-bottom: 1rem;
}

.paket .btn {
  background-color: var(--bg);
  padding: 0.8rem;
  color: #fff;
  border-radius: 7px;
}

.paket .btn:hover {
  background-color: var(--primary);
  transition: 0.5s;
}

.paket .btn:hover::after {
  background-color: #aca788;
  transition: 0.5s;
}

/* Footer */
.footer {
  background-color: var(--bg);
  padding: 1.2rem;
}

.footer p {
  font-weight: 200;
  color: var(--primary);
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar .navbar-logo {
    display: inline-block;
    padding: 2rem 0 2rem 3.5rem;
  }

  .price .price-text {
    display: block;
    padding: 2rem 7%;
  }

  .price .price-text h1,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .gallery .text-gallery {
    padding: 2rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .gallery .text-gallery h2 {
    margin: 0.6rem 0;
  }

  .gallery .row {
    flex-direction: column; /* Mengatur ulang elemen-elemen ke tata letak vertikal */
  }

  .paket .paket-pelajar1 {
    display: none;
  }

  .paket .paket-pelajar2 {
    display: none;
  }

  .paket .paket-pelajar3 {
    display: inline-block;
    padding: 5rem 10rem;
    font-size: 2rem;
    text-align: left;
    justify-content: left;
  }

  .paket .paket-pelajar3 .icon {
    display: flex;
    text-align: left;
  }
}
/* Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
